{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Profile - {{user_profile.user.username}}</title>
</head>

<body>
  <div class="d-flex justify-content-center min-vh-100">
    <div class="col-md-8">
      <!-- Column -->
      <div class="card" style="position: relative;">
        <img class="card-img-top" style="width: 100%; height: auto;" src="https://i.imgur.com/K7A78We.jpg"
          alt="Card image cap">
        <div class="card-body little-profile text-center">
          <div class="pro-img">
            <img src="{{user_profile.image.url}}" alt="user" class="rounded-circle" width="200" height="200">
          </div>
          <h3 class="m-b-0">{{user_profile.username}}</h3>
          <div>
            <form action="{% url 'follow' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{user_object.username}}" name="following" id="following" />

              {% if user_object.username == user.username %}
              <a href="{% url 'settings' %}" data-ripple="">Account Settings</a>
              {% else %}
              <button type="submit" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">
                {{ follow|yesno:"Unfollow,Follow" }}
              </button>
              {% endif %}

            </form>
          </div>
          <div class="row text-center">
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light">{{user_review_length}}</h3><small>Review</small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light">{{user_followers}}</h3><small>Followers</small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light">{{user_following}}</h3><small>Following</small>
            </div>
          </div>
          <div class="row text-center">
              <hr class="my-4" />
              <div class="mb-3">
                <i class="fa-solid fa-location-dot"></i>
                <label for="headline" class="form-label">location</label>
                <input class="form-control" value="{{user_profile.location}}" type="text" name="location" id="location"
                  disabled>
              </div>
              <div class="mb-3">
                <i class="fa-solid fa-regular fa-book-atlas"></i>
                <label for="bio" class="form-label">Biographie</label>
                <textarea rows="10" style="height:100%;" class="form-control" type="text" name="bio" id="bio"
                  placeholder="Biographie" disabled>{{user_profile.bio}}</textarea>
              </div>
            </div>
          <hr class="my-4" />
          <div class="row text-center">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent Tickets</p>

            </div>
            <br>
            {% if not user_tickets %}
            <p> Aucun ticket n'a été crée ..</p>

            {% else %}
            {% for ticket in user_tickets %}
            <div class="col-md-4 mb-3">
              <div class="card h-100">
                <img src="{{ ticket.image.url }}" class="card-img-top" alt="{{ ticket.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ ticket.title }}</h5>
                  <p class="card-text">{{ ticket.description | truncatechars:100 }}</p>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#ticketModal{{ticket.id}}">
                    Read More
                  </button>
                  <!--READMORE TICKET MODUL-->
                  <!-- Modal -->
                  <div class="modal fade" id="ticketModal{{ticket.id}}" tabindex="-1" aria-labelledby="ticketModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ticketModalLabel">{{ ticket.title }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="{{ ticket.image.url }}" class="card-img-top" alt="{{ ticket.title }}">
                          <p class="card-text">{{ ticket.description }}</p>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}

            <!--Recent reviews-->
            <div class="row text-center">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent Reviews</p>
              </div>
              <br>
              {% if not user_reviews %}
              <p> Aucun review n'a été crée ..</p>

              {% else %}
              {% for review in user_reviews %}
              <div class="col-md-4 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{review.ticket}}</h5>
                    <div class="p-2">

                      <div>
                        {% for s in "12345" %}
                        <i
                          class=" {% if s|add:'0' <= review.rating %} fa-solid fa-star yellow {% else %} fa-regular fa-star star-secondary {% endif %}"></i>
                        {% endfor %}

                      </div>
                      <p class="text-justify">{{review.headline}}</p>
                      <p class="text-justify">{{review.body | truncatechars:100}}</p>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#reviewModal{{review.id}}">
                        Read More
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--READMORE REVIEW MODUL-->

              <!-- Modal -->
              <div class="modal fade" id="reviewModal{{review.id}}" tabindex="-1" aria-labelledby="reviewModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reviewModalLabel">{{ review.headline }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <img src="{{ review.image.url }}" class="card-img-top" alt="{{ ticket.headline }}">
                      <div>
                        {% for s in "12345" %}
                        <i
                          class=" {% if s|add:'0' <= review.rating %} fa-solid fa-star yellow {% else %} fa-regular fa-star star-secondary {% endif %}"></i>
                        {% endfor %}
                      </div>
                      <p class="card-text">{{ review.body }}</p>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
</body>

</html>

{% endblock%}